@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&family=Montserrat:wght@100;200;300;900&family=Open+Sans:wght@300;400&family=Poppins:wght@100;200;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-text: "Maven Pro", sans-serif;
  --ff-subTitle: "Montserrat", sans-serif;
  --ff-title: "Poppins", sans-serif;
  --ff-text2: "Open Sans", sans-serif;

  --amarelo: #ebb92f;
  --laranja: #eb6a00;
  --azul: #2f94eb;
  --cina-azul: #4b5c6b;
  --musgo: #6b634b;
  --neutro: #fff;
  --black: #171717;

  --bg-opacity-4: rgba(5, 5, 5, 0.4);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100vh;
  /* background-color: aqua; */
}

.bg {
  background-attachment: fixed;
  background-image: url(assets/eletricista.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 70%;
  width: 100%;
}

header,
.hero {
  background-color: var(--bg-opacity-4);
  color: var(--neutro);
  backdrop-filter: blur(3px);
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  padding-bottom: 4rem;
  font-family: var(--ff-text);
  color: var(--musgo);
  font-family: var(--ff-text);
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.5rem;
}



.title {
  font-size: 2rem;
  margin-bottom: 4rem;
  font-family: var(--ff-title);
  color: var(--laranja);
  font-weight: 900;
}

#jd {
  color: var(--laranja);
  letter-spacing: 0.5rem;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 100px;

}

nav{
display: block;
}

.linksContainer {
  font-family: var(--ff-title);
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--amarelo);
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.linkNav {
  text-decoration: none;
  color: var(--neutro);
  transition: all 0.3s ease;
  position: relative;
  padding-bottom: 0.5rem;
}

.linkNav:hover {
}

.linkNav::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2f94eb;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
}

.linkNav:hover::after {
  opacity: 1;
}
/* Scale from center animation on hover */

.listItem a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.listItem a:hover::after,
.listItem a:focus::after {
  transform: scale(1);
}

.btn {
  font-size: 1.5rem;
  text-decoration: none;
  background-color: var(--amarelo);
  color: var(--black);
  font-family: var(--ff-title);
  padding: 0.5rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--laranja);
  color: var(--neutro);
}



.menuIcon{  
  height: 30px;
  top: 4rem;
  right: 4rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  
}

.line{
  width: 30px;
  border: 1px solid white;
}


/* CRIAR TELA MENU MOBILE */




.heroContainer {
  min-height: 60vh;

  font-family: var(--ff-title);
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

strong {
  color: var(--amarelo);
}

.heroContainer h2 {
  font-weight: 100;
}

.heroText {
  padding: 2rem 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.712);
}


.sobre {
  padding-top: 2rem;
  
}

.sobreContent{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sobreText {
  color: var(--musgo);
}



.sobreText {
  width: 50%;
  font-family: var(--ff-text);
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.5rem;
}

.sobreImg {
  width: 40%;
  height: 500px;
  border-radius: 1rem;
  background-image: url(assets/fios.jpg);
  background-size: cover;
}

.bgTransp{
  background-color: #4b5c6bd3;

}

.serviceBg{  
  background-image: url(assets/eletricistapexel.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;  
  background-position: center;
  background-size: cover;

}

.services{
  padding-top: 2rem;
}

.services h2{
  color: var(--amarelo);
}

.servicesContent{
  color: var(--neutro);
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.serviceCard{
  backdrop-filter: blur(3px);
  width: 300px;
  min-height: 300px;
  padding: 2rem 1rem;
  display: flex;
  /* box-shadow: 0px 0px 8px #00000042; */
  flex-direction: column;
  gap: 1rem;  
}

.serviceCardTitle{
  font-size: 1.5rem;
}

.serviceCard p{
  font-size: 1.2rem;
}

.callContent{
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callContent p{
  font-size: 2rem;
  font-weight: 700;
  width: 50%;
}

form{
  padding-top: 2rem;
  gap: 1rem;
  width: 50%;
  display: grid;
}

form input, textarea{
  padding: .5rem;
  font-size: 1rem;
}

.btn{
  cursor: pointer;
}


.footerBg{
  background-color: var(--cina-azul);
  color: var(--neutro);
}

.footerContent{
  min-height: 17vh;
  font-family: var(--ff-text2);
  padding: 2rem;
  
  
}

footer a{
  text-decoration: none;

}
